opentodo.xcodeproj/xcuserdata/
opentodo.xcodeproj/project.xcworkspace/xcuserdata
opentodoTests/opentodoTests-Info.plist
opentodo/opentodo-Info.plist
.DS_Store
opentodo.xcodeproj/project.xcworkspace/xcshareddata/opentodo.xccheckout
opentodo/opentodo.entitlements
